In [1]:
from Mfunctions import *

# Set up sheets

In [2]:
df0,df1=get_localsheets()
df=df0.append(df1)

In [3]:
df.sort_values(by=['Date', 'Time'],ascending=False).reset_index(drop=True)

           Date      Time  Pee  Poop                        Food  Quantity
0    2021-04-22  07:30:00  NaN   NaN             Breast (Pumped)        45
1    2021-04-22  06:00:00  Pee   NaN  Formula (Neopro Gentlease)        60
2    2021-04-22  03:00:00  Pee  Poop  Formula (Neopro Gentlease)        90
3    2021-04-22  00:20:00  NaN   NaN  Formula (Neopro Gentlease)        45
4    2021-04-21  23:00:00  NaN   NaN             Breast (Pumped)        30
..          ...       ...  ...   ...                         ...       ...
303  2021-03-29  04:00:00  Pee   NaN                         NaN         0
304  2021-03-29  03:10:00  Pee  Poop             Breast (Pumped)        25
305  2021-03-29  00:45:00  NaN   NaN             Breast (Pumped)        30
306  2021-03-29  00:00:00  Pee   NaN                         NaN         0
307  2021-03-28  22:22:00  Pee  Poop             Breast (Pumped)        30

[308 rows x 6 columns]

# Marie Tracker 2.0

## Last feeding

In [4]:
df_food=df[df['Food']!='']
last=df_food.loc[0]

print ("last feeding" ,last['Date'], last['Time'], last['Food'], last['Quantity'])

last feeding 0    2021-03-28
0    2021-04-21
Name: Date, dtype: object 0    22:22:00
0    14:00:00
Name: Time, dtype: object 0    Breast (Pumped)
0    Breast (Pumped)
Name: Food, dtype: object 0    30
0    40
Name: Quantity, dtype: int64

# Yesterday and 3 day average

### Yesterday Food

In [5]:
days=df['Date'].unique()
yesterday=days[1]
last3days=days[1:4]
yday=df[df['Date']==yesterday]
l3days=df[df['Date'].isin(last3days)]
fsum_dict=get_dayfood(yday)
print_dict(fsum_dict)

2021-04-22 10:21:36.999 WARNING root:
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run /anaconda3/envs/slit/lib/python3.9/site-packages/ipykernel_launcher.py [ARGUMENTS]

In [6]:
df['Date'].unique()

array([datetime.date(2021, 3, 28), datetime.date(2021, 3, 29),
       datetime.date(2021, 3, 30), datetime.date(2021, 3, 31),
       datetime.date(2021, 4, 1), datetime.date(2021, 4, 2),
       datetime.date(2021, 4, 3), datetime.date(2021, 4, 4),
       datetime.date(2021, 4, 5), datetime.date(2021, 4, 6),
       datetime.date(2021, 4, 7), datetime.date(2021, 4, 8),
       datetime.date(2021, 4, 9), datetime.date(2021, 4, 10),
       datetime.date(2021, 4, 11), datetime.date(2021, 4, 12),
       datetime.date(2021, 4, 13), datetime.date(2021, 4, 14),
       datetime.date(2021, 4, 15), datetime.date(2021, 4, 16),
       datetime.date(2021, 4, 17), datetime.date(2021, 4, 18),
       datetime.date(2021, 4, 19), datetime.date(2021, 4, 20),
       datetime.date(2021, 4, 21), datetime.date(2021, 4, 22)],
      dtype=object)

### Three Day Average Food

In [7]:
day_dict_list=[]
for day in days[1:4]:
    day=l3days[l3days['Date']==day]
    day_dict=get_dayfood(day)
    day_dict_list.append(day_dict)
mean_3days_food=dict_mean(day_dict_list)
print_dict(mean_3days_food)

### Yesterday Pee and Poop

In [8]:
yday_pp=yday[(yday['Pee']=='Pee')| (yday['Poop']=='Poop')]
pp_dict=day_pp(yday_pp)
print_dict(pp_dict)

### Three Day Average Pee and Poop

In [9]:
l3days_pp=l3days[(l3days['Pee']=='Pee')| (l3days['Poop']=='Poop')]

day_dict_list=[]
for day in days[1:4]:
    day=l3days_pp[l3days_pp['Date']==day]
    day_dict=day_pp(day)
    day_dict_list.append(day_dict)
mean_3days_pp=dict_mean(day_dict_list)
print_dict(mean_3days_pp)